{% include "header.html" %}
{% include "hero.html" %}
<div class="container">
    <div class="project-details" id="morse-code-details">

        <div class="detail-header">
            <h2 class="detail-title">{{project['title']}}</h2>
            <p class="detail-subtitle">{{project['subtitle']}}</p>
        </div>

        <div class="detail-section">
            <h4>Project Overview</h4>
            <p>{{project['overview']}}.</p>
        </div>

        <div class="detail-section">
            <h4>Features</h4>
            <ul>
                {% for feature in project['features'] %}
                <li>{{feature}}</li>
                 {% endfor %}
            </ul>
        </div>

        <div class="detail-section">
            <h4>Technologies Used</h4>
            <div class="project-tech">
                {% for techno in project['technologies_used'] %}
                <span class="tech-tag">{{techno}}</span>
                {% endfor %}
            </div>
        </div>

        <div class="detail-section">
            <h4>Approach and Learning Outcomes</h4>
            <p>{{project['learning']}}</p>
        </div>
    </div>
</div>